<ion-header>
  <ion-toolbar>
    <ion-segment>
      <ion-segment-button>
        <ion-label>GRAFICOS</ion-label>
      </ion-segment-button>
      <ion-segment-button (click)="navigateTo('')" value="favorites">
        <ion-label>CERRAR SESIÓN</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<!-- <ion-content>
  <div style="width: 350px; height: 1000px; margin-top: 60%;" ><canvas id="ctx"></canvas></div>
</ion-content> -->


<body>
  <div style="width: 350px; height: 1000px; margin-top: 60%;" ><canvas id="ctx"></canvas></div>
</body>

<ion-footer>
  <ion-toolbar>
    <!-- <ion-title class="ion-text-center"><ion-icon name="arrow-back-outline"></ion-icon>Cosas lindas</ion-title> -->
    <ion-title class="ion-text-center" (click)="navigateTo('cosas-feas')">COSAS FEAS</ion-title>
  </ion-toolbar>
</ion-footer>