<app-menu class="ion-margin-bottom"></app-menu>
<ion-grid class="ion-margin-top">
    <!-- <ion-row class="ion-align-items-center">
        <ion-col size="12" class="ion-text-center" (click)="RedirigirCosasLindas()">
            <app-cosas-lindas (click)="RedirigirCosasLindas()"></app-cosas-lindas>
            <ion-card>
                <img alt="logo" src="../../../assets/images/like.png" width="200" height="200" />
                <ion-card-header>
                    <ion-card-title>Cosas lindas</ion-card-title>
                    <ion-card-subtitle>Sacar foto</ion-card-subtitle>
                </ion-card-header>
              </ion-card>
        </ion-col>
        <ion-col size="12" class="ion-text-center" (click)="RedirigirCosasFeas()">
            <app-cosas-feas (click)="RedirigirCosasFeas()"></app-cosas-feas>
            <ion-card>
                <img alt="logo" src="../../../assets/images/not-like.png" width="200" height="200" />
                <ion-card-header>
                    <ion-card-title>Cosas Feas</ion-card-title>
                    <ion-card-subtitle>Sacar foto</ion-card-subtitle>
                </ion-card-header>
              </ion-card>
        </ion-col>
    </ion-row> -->
</ion-grid>